#container {
  margin: 0 auto;
}
h1 span {
  color: #2D2515;
}
 
nav {
  font-family: Brush Script MT, sans-serif;
  font-size:20px;
  color: #FF3366;
  background-color: #2D2515;
}
nav ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  
  } 
nav ul li {
  background-color: #2D2515;
  display:inline-block;
  }
nav a {
  font-family: Brush Script MT, sans-serif;
  font-size:20px;
  color:#FB7CF3;
  line-height: 60px;
  text-decoration:none;
  display:block;
  padding:0 10px; 
}
nav ul ul { 
  top: 60px;  
  position: absolute;
  display: none;
} 
nav ul ul li {
  width:230px;
  display:list-item;
  float:none;
  position: relative;
}
nav ul ul ul li {
  left:230px;
  position: relative;
  top:-60px; 
}
nav ul ul li {
  border: 1px solid white;
} 

body {
background-color: #2D2515;
}

h1 {
font-family: Brush Script MT, sans-serif;
font-size: 50px;
color: #FB7CF3;
}

h2 {
font-family: Brush Script MT, sans-serif;
color: #20A1EE;
border-bottom: 2px solid black;
}

h3, {
font-weight: bold;
}

h4, h5, h6 {
color: #3AB195;
}

p {
color: #DDCAD9;
}

ul{
color: #DDCAD9;
}

ol{
color: #DDCAD9;
}

a {
color: #2EC4B6;
}

.column {
color: #DDCAD9;
float: left;
width: 45%;
padding: 5px;
}

.row::after {
color: #DDCAD9;
content: "";
clear: both;
display: table;
}
